@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5e5e5;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.App div:last-child {
    padding: 2rem;
}
.booklist div {
    padding: 2rem;
}
.booklist div:first-child h1 {
    text-align: center;
}
.booklist div:first-child > ul {
    list-style: none;
}
.booklist div:first-child > ul li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    color: deeppink;
    border: 1px solid deeppink;
    border-radius: 0.2rem;
}
.book-details {
    color: #fff;
    background-color: deeppink;
    padding: 2rem;
}
.book-details ul {
    list-style: none;
}
@media (min-width: 600px) {
    body {
        overflow: hidden;
    }
    .booklist {
        display: flex;
        min-height: 100vh;
    }
    .booklist div {
        flex: 0.5;
    }
    .add-book {
        padding: 0;
    }
    .App div:last-child form {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}
