@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
header {
    padding: 1rem;
}
header,
main {
    width: 90vw;
    margin: 0 auto;
}
div form {
    margin: 1rem 0;
}
div form div {
    margin: 1rem 0;
}
input,
select {
    padding: 0.5rem;
    width: 189px;
}
.booklist {
    display: flex;
}
.booklist ul {
    margin-right: 2rem;
    list-style: inside;
}
.booklist ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}
